body {
    font-family: 'Delius', sans-serif;
}

.button {
    font-family: 'Delius', sans-serif;
}

.input {
    font-family: 'Delius', sans-serif;
}

.textarea {
    font-family: 'Delius', sans-serif;
}
